@font-face {
  font-family: Futura;
  src: url(./Fonts/Futura-Bold.ttf);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Futura;
  &::selection {
    color: white;
    background-color: black;
  }
}

/* Set full height and width for HTML and body */
html,
body {
  height: 100%;
  width: 100%;
}

main {
  background-color: #222222;
  overflow: hidden;
}

.popup {
  height: 90vh;
  width: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  display: none;

  & .imgs {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    
    & img {
      max-height: 90vh;
      max-width: 90%;
      object-fit: contain;
      border-radius: 25px;
    }

    /* position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    
    & img {
      max-height: 90vh;
      max-width: 90%;
      object-fit: contain;
    } */

    & .image-slider {
      display: flex;
      gap: 25px;
      position: absolute;
      bottom: 0%;
      left: 50%;
      transform: translate(-50% , -50%);
  
      & .button {
        padding: 12px 50px;

        &::after {
          content: "Previous";
        }
        &::before {
          content: "Previous";
        }
        
        &:nth-child(2){
          &::after {
            content: "Next";
          }
          &::before {
            content: "Next";
          }
          
        }
      }
    }
  }

  & #closeButton {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: #fff;
    cursor: pointer;
    position: absolute;
    top: 5%;
    right: 15%;
  }
}

.button {
  position: relative;
  font-size: 15px;
  height: 52px;
  width: 100%;
  max-width: 180px;
  margin: auto;
  background: white;
  color: white;
  letter-spacing: -0.5px;
  border-radius: 50px;
  text-align: center;
  overflow: hidden;
  line-height: 52px;
  transition-delay: 0.6s;

  &::before {
    content: "Hire us";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #222222;
    border-radius: 50% 50% 0 0;
    transform: translateY(100%) scaleY(0.5);
    transition: all ease 0.6s;
  }

  &::after {
    content: "Hire us";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: white;
    color: black;
    border-radius: 0;
    transform: translateY(0) scaleY(1);
    transition: all ease 0.6s;
  }

  &:hover {
    background: black;
    transition: background 0.2s linear;
    transition-delay: 0.6s;

    &::before {
      border-radius: 0;
      transform: translateY(0) scaleY(1);
      transition-delay: 0s;
    }

    &::after {
      border-radius: 0 0 50% 50%;
      transform: translateY(-100%) scaleY(0.5);
      transition-delay: 0s;
    }
  }
}

.page1 {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #222222; */
  background-color: #141414;
  overflow: hidden;

  & .boxImgs {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & .imgs {
      position: relative;
      height: 550px;
      width: 75%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      & .viewport {
        position: relative;
        height: 120vh;
        width: 120vw;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        opacity: 0;
        transition: all 0.2s ease;

        & .card {
          position: relative;
          width: 260px;
          height: 325px;
          margin: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          filter: brightness(70%) grayscale(100%);
          transition: all 0.6s ease-out;
          opacity: 0.5;

          &:hover {
            filter: brightness(100%) grayscale(0%);
            opacity: 1;
          }

          & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

        & .landscape {
          width: 406px;
        }

        & .top {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          transform-origin: 50% 100%;
        }
        & .middle {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          transform-origin: 50% 50%;
        }
        & .bottom {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          transform-origin: 50% 0%;
        }
      }
    }
  }

  & .boxText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    overflow: hidden;

    & h1 {
      font-size: 6.5vw;
      line-height: 1;
      text-align: center;
      pointer-events: none;
      transform: translateY(135%);
    }

    & .h3Text {
      display: flex;
      font-size: 1.5vw;
      gap: 25px;
      transform: translateY(100%);
    }
  }
}

.page2 {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222222;
  overflow: hidden;

  & .page2Content {
    position: relative;
    height: 95vh;
    width: 95vw;
    margin-top: 60px;
    border-radius: 25px;
    background-color: #141414;
    display: flex;
    align-items: center;

    & .description {
      position: absolute;
      top: 50%;
      left: 53.5%;
      transform: translate(-50%, -50%);
      height: 50%;
      width: 90%;
      display: flex;
      align-items: center;
      border-radius: 25px;

      & h1 {
        font-size: 10vw;
        color: white;
        line-height: 1;

        & i {
          color: white;
        }
      }
    }

    & .content {
      position: relative;
      background-color: #141414;
      height: 95vh;
      display: flex;
      align-items: center;
      border-radius: 25px;
      margin-left: 1250px;

      & .projects {
        display: inline-block;
        white-space: nowrap;
        position: relative;
        height: 80vh;
        width: 60vh;
        margin: 0 10px;
        border-radius: 25px;

        & .flyingBox {
          height: 20%;
          width: 75%;
          position: absolute;
          bottom: -45%;
          left: 50%;
          transform: translate(-50%, 0%);
          border-radius: 25px;
          background-color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          & h2 {
            font-size: 15px;
            text-align: center;
          }
        }

        & img {
          height: 101%;
          width: 100%;
          object-fit: cover;
          border-radius: 25px;
        }

        & .card-tags {
          height: 50px;
          width: fit-content;
          position: absolute;
          top: -1%;
          right: 0%;
          display: flex;
          align-items: center;
          gap: 12px;
          background-color: #141414;
          padding: 15px 15px;
          border-bottom-left-radius: 25px;

          & img {
            height: 30px;
            width: 30px;
            object-fit: cover;
          }

          & h3 {
            font-size: 12px;
            color: white;
            background-color: #222;
            padding: 5px 10px;
            border-radius: 5px;
          }

          &::before {
            height: 25px;
            width: 25px;
            content: "";
            position: absolute;
            top: 4px;
            left: -25px;
            border-radius: 50%;
            background-color: transparent;
            box-shadow: 12px -12px 0 #141414;
          }

          &::after {
            height: 25px;
            width: 25px;
            content: "";
            position: absolute;
            bottom: -25px;
            right: 0;
            border-radius: 50%;
            background-color: transparent;
            box-shadow: 12px -12px 0 #141414;
          }
        }
      }
    }
  }
}

.page3 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  background-color: #222222;

  & .wrapper {
    position: relative;
    height: 90%;
    width: 95%;
    border-radius: 25px 25px 0 0;
    background-color: #141414;
    display: flex;
    align-items: end;
    overflow: hidden;

    & .container {
      display: flex;
      align-items: center;
      height: 92vh;
      background-color: #141414;
      margin-left: 1250px;

      & .description {
        position: absolute;
        top: 50%;
        left: 34%;
        transform: translate(-50%, -50%);
        padding: 0 50px 0 100px;

        & h1 {
          color: white;
          font-size: 9vw;
          line-height: 1;
        }
      }

      & .projects {
        display: inline-block;
        white-space: nowrap;
        position: relative;
        height: 80vh;
        width: 60vh;
        margin: 0 10px;
        border-radius: 25px;
        box-shadow: 100px 0px 0 #141414;
        z-index: 9;

        &:last-child {
          box-shadow: 0px 0px 0 #141414;
        }

        & .flyingBox {
          height: 20%;
          width: 75%;
          position: absolute;
          bottom: -45%;
          left: 50%;
          transform: translate(-50%, 0%);
          border-radius: 25px;
          background-color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          & h2 {
            /* margin-top: 10px; */
            font-size: 15px;
            text-align: center;
          }
        }

        & img {
          height: 101%;
          width: 100%;
          object-fit: cover;
          border-radius: 25px;
        }

        & .card-tags {
          height: 50px;
          width: fit-content;
          position: absolute;
          top: -1%;
          right: 0%;
          display: flex;
          align-items: center;
          gap: 12px;
          background-color: #141414;
          padding: 15px 15px;
          border-bottom-left-radius: 25px;

          & img {
            height: 30px;
            width: 30px;
            object-fit: cover;
          }

          & h3 {
            font-size: 12px;
            color: white;
            background-color: #222;
            padding: 5px 10px;
            border-radius: 5px;
          }

          &::before {
            height: 25px;
            width: 25px;
            content: "";
            position: absolute;
            top: 4px;
            left: -25px;
            border-radius: 50%;
            background-color: transparent;
            box-shadow: 12px -12px 0 #141414;
          }

          &::after {
            height: 25px;
            width: 25px;
            content: "";
            position: absolute;
            bottom: -25px;
            right: 0;
            border-radius: 50%;
            background-color: transparent;
            box-shadow: 12px -12px 0 #141414;
          }
        }

        &:nth-child(2) {
          background-color: purple;
        }
      }
    }
  }

  .contactButton {
    font-size: 12px;
    background-color: #f3efef;
    padding: 10px 22.5px;
    border-radius: 25px;
    position: absolute;
    bottom: -10%;
    right: 5%;
    transform: rotate(0deg);
    cursor: pointer;
    z-index: 99;

    & h2 {
      color: black;
    }
  }

  .contact {
    position: absolute;
    bottom: -88%;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 90vh;
    width: 92vw;
    background-color: #f3efef;
    border-radius: 55px 55px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
    /* flex-direction: column; */

    & h1 {
      margin-left: 70px;
      font-size: 5vw;
      text-wrap: nowrap;
      margin-bottom: 120px;
    }

    & .right {
      position: relative;
      height: 65%;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 100px;
      /* background-color: purple; */

      & .button {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        z-index: 9;
      }

      & .icons {
        position: relative;
        height: 50%;
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: center;
        gap: 30px;
        opacity: 0;
        transform: translateY(10%) scale(0.9);
        transition: opacity 0.3s ease, transform 0.3s ease;
        /* background-color: black; */

        & .img {
          position: relative;
          height: 25px;
          width: 85px;
          margin-top: 30px;
          /* background-color: yellow; */
          cursor: pointer;

          &:nth-child(2) {
            height: 25px;
            width: 120px;
          }

          & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }

      & .social {
        height: 50%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 50px;

        & h2 {
          font-size: 26px;
        }

        & .imgs {
          display: flex;
          gap: 50px;

          & .img {
            position: relative;
            height: 40px;
            width: 40px;
            margin-top: 50px;
            cursor: pointer;

            & img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
    & .info {
      position: absolute;
      bottom: -20%;
      left: 40%;
      transform: translate(-50%, -50%);
      display: flex;
      gap: 75px;

      & h1 {
        font-size: 22px;
      }
    }
  }
}
.page4 {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  background-color: #222222;

  & .wrapper {
    position: relative;
    height: 90%;
    width: 95%;
    border-radius: 25px 25px 0 0;
    background-color: #141414;
    display: flex;
    align-items: end;
    overflow: hidden;

    & .container {
      display: flex;
      align-items: center;
      height: 92vh;
      background-color: #141414;
      margin-left: 1050px;

      & .description {
        position: absolute;
        top: 50%;
        left: 34%;
        transform: translate(-50%, -50%);
        padding: 0 50px 0 100px;

        & h1 {
          color: white;
          font-size: 9vw;
          line-height: 1;
        }
      }

      & .projects {
        display: inline-block;
        white-space: nowrap;
        position: relative;
        height: 80vh;
        width: 60vh;
        margin: 0 10px;
        border-radius: 25px;
        box-shadow: 100px 0px 0 #141414;
        z-index: 9;

        &:last-child {
          box-shadow: 0px 0px 0 #141414;
        }

        & .flyingBox {
          height: 20%;
          width: 75%;
          position: absolute;
          bottom: -45%;
          left: 50%;
          transform: translate(-50%, 0%);
          border-radius: 25px;
          background-color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          & h2 {
            /* margin-top: 10px; */
            font-size: 15px;
            text-align: center;
          }
        }

        & video {
          height: 101%;
          width: 100%;
          object-fit: cover;
          border-radius: 25px;
        }

        & .card-tags {
          height: 50px;
          width: fit-content;
          position: absolute;
          top: -1%;
          right: 0%;
          display: flex;
          align-items: center;
          gap: 12px;
          background-color: #141414;
          padding: 15px 15px;
          border-bottom-left-radius: 25px;

          & img {
            height: 30px;
            width: 30px;
            object-fit: cover;
          }

          & h3 {
            font-size: 12px;
            color: white;
            background-color: #222;
            padding: 5px 10px;
            border-radius: 5px;
          }

          &::before {
            height: 25px;
            width: 25px;
            content: "";
            position: absolute;
            top: 4px;
            left: -25px;
            border-radius: 50%;
            background-color: transparent;
            box-shadow: 12px -12px 0 #141414;
          }

          &::after {
            height: 25px;
            width: 25px;
            content: "";
            position: absolute;
            bottom: -25px;
            right: 0;
            border-radius: 50%;
            background-color: transparent;
            box-shadow: 12px -12px 0 #141414;
          }
        }
      }
    }
  }

  .contactButton {
    font-size: 12px;
    background-color: #f3efef;
    padding: 10px 22.5px;
    border-radius: 25px;
    position: absolute;
    bottom: -10%;
    right: 5%;
    transform: rotate(0deg);
    cursor: pointer;
    z-index: 99;

    & h2 {
      color: black;
    }
  }

  .contact {
    position: absolute;
    bottom: -88%;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 90vh;
    width: 92vw;
    background-color: #f3efef;
    border-radius: 55px 55px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
    /* flex-direction: column; */

    & h1 {
      margin-left: 70px;
      font-size: 5vw;
      text-wrap: nowrap;
      margin-bottom: 120px;
    }

    & .right {
      position: relative;
      height: 65%;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 100px;
      /* background-color: purple; */

      & .button {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        z-index: 9;
      }

      & .icons {
        position: relative;
        height: 50%;
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: center;
        gap: 30px;
        opacity: 0;
        transform: translateY(10%) scale(0.9);
        transition: opacity 0.3s ease, transform 0.3s ease;
        /* background-color: black; */

        & .img {
          position: relative;
          height: 25px;
          width: 85px;
          margin-top: 30px;
          /* background-color: yellow; */
          cursor: pointer;

          &:nth-child(2) {
            height: 25px;
            width: 120px;
          }

          & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }

      & .social {
        height: 50%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 50px;

        & h2 {
          font-size: 26px;
        }

        & .imgs {
          display: flex;
          gap: 50px;

          & .img {
            position: relative;
            height: 40px;
            width: 40px;
            margin-top: 50px;
            cursor: pointer;

            & img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }
        }
      }

      & .show-icons {
        opacity: 1;
        transform: translateY(0%) scale(1);
      }
    }
  }

  & .info {
    height: 80px;
    width: 900px;
    gap: 80px;
    border-radius: 25px;
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    z-index: 9;

    & h1 {
      font-size: 22px;
    }
  }
}

@media screen and (max-width: 800px) {
  .page1 {
    & .boxImgs {
      & .imgs {
        overflow: visible;
      }
    }
  }

  .page2 {
    & .page2Content {
      & .content {
        margin-left: 0;
      }
    }
  }

  .page4 {
    .contact {
      flex-direction: column;
      & h1 {
        margin: 80px 0 0 0;
        text-align: center;
      }
      & .right {
        width: 60%;
        margin-bottom: 140px;

        & .icons {

          & .img {
            height: 27px;
            width: 90px;
          }
        }

        & .social {
          margin-bottom: 50px;
        }

        & .button {
          top: 45%;
        }
      }
    }

    & .info {
      bottom: -25%;
    }

  }
}

@media screen and (max-width: 500px) {
  .page1 {
    & .boxText {
      & h1 {
        font-size: 10vw;
        transform: translateY(180%);
      }

      & .h3Text {
        font-size: 2.5vw;
        justify-content: center;
        margin-top: 15px;
      }

      & .boxImgs {
        & .imgs {
          overflow: visible;
        }
      }
    }
  }

  .page2 {
    & .page2Content {
      margin-top: 0;

      & .description {
        height: auto;
        width: auto;
        left: 50%;
      }

      & .content {
        margin-left: 0;
        & .projects {
          height: 80vh;
          width: 90vw;

          & .card-tags {
            height: 50px;
            width: 195px;
            top: -1%;
            right: 0%;
            padding: 10px 10px;

            & h3 {
              font-size: 10px;
              padding: 4px 8px;
            }
          }

          & .flyingBox {
            height: 12%;
            width: 70%;

            & h2 {
              font-size: 20px;
            }

          }
        }
      }
    }
  }

  .page3 {
    & .wrapper {
      & .container {
        margin-left: 0;

        & .description {
          padding: 0;
          left: 50%;
        }

        & .projects {
          height: 80vh;
          width: 90vw;
        }
      }
    }
  }

  & .page4 {
    & .wrapper {
      & .container {
        margin-left: 0;

        & .description {
          padding: 0;
          left: 50%;
        }

        & .projects {
          height: 80vh;
          width: 90vw;
        }
      }
    }

    & .contactButton {
      font-size: 12px;
      right: -12%;
      transform: translateX(-50%);
      padding: 10px 18px;
    }

    & .contact {
      flex-direction: column;

      & h1 {
        font-size: 8vw;
      }

      & .right {
        height: 40%;
        width: 100%;
        margin-bottom: 180px;

        & .button {
          top: 60%;
        }

        & .icons {
          gap: 15px;
          align-items: center;

          & .img {
            height: 17px;
            width: 60px;
            margin-top: 100px;

            &:nth-child(2) {
              height: 20px;
              width: 100px;
            }
          }
        }
      }
    }

    & .info {
      height: 90px;
      width: 250px;
      gap: 15px;
      flex-direction: column;

      & h1 {
        font-size: 12px;
      }
    }
  }
}
